SECRET_KEY=change-this-secret-key
AUTH_SERVICE_URL=http://auth-service:8001
INVENTORY_SERVICE_URL=http://inventory-service:8003
ROLE_SERVICE_URL=http://role-service:8004
API_GATEWAY_PORT=8000
INSTITUTIONAL_EMAIL_DOMAIN=@ucb.edu.bo

POCKETBASE_URL=https://tu-pocketbase.example.com
POCKETBASE_ROLE_COLLECTION=role
POCKETBASE_USERS_COLLECTION=users
POCKETBASE_AUTH_IDENTITY=admin@tu-dominio.com
POCKETBASE_AUTH_PASSWORD=tu-password
POCKETBASE_AUTH_COLLECTION=_superusers
POCKETBASE_TIMEOUT_SECONDS=10
GOOGLE_CLIENT_ID=tu-google-client-id.apps.googleusercontent.com
