APP_NAME=LabConnect Auth Service
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8001

POSTGRES_DB=labconnect
POSTGRES_USER=labconnect_user
POSTGRES_PASSWORD=labconnect_pass
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

DATABASE_URL=postgresql+psycopg2://labconnect_user:labconnect_pass@postgres:5432/labconnect
ALLOWED_GOOGLE_DOMAIN=ucb.edu.bo
REDIS_URL=redis://redis:6379/0

# This client id is public and is also used by the frontend.
GOOGLE_CLIENT_ID=81257320597-3psdl1r2fbqd5dhjn4eh6tfed066p1em.apps.googleusercontent.com

# Replace with your own strong secret outside local development.
SECRET_KEY=change_this_in_production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=120
